body {
  width: 100%;
}

img {
  margin-left: 22.8%;
  position: absolute;
  height: 600px;
}

.container {
  position: relative;
}

@keyframes fade-external {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-internal {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

img#start {
  z-index: -1;
  opacity: 0;
  animation: fade-external 7s ease-in forwards;
  animation-delay: 0.5s;
}

img#finish {
  z-index: -2;
  opacity: 1;
}

h1 span {
  font: 26px "Montserrat", sans-serif;
  opacity: 0;
  margin-left: 45.2%;
  margin-top: 7.7%;
  color: #67c3d1;
  // background-color: gray;
  // font: 26px Monaco, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  animation: fade-internal 7s ease-in forwards;
  animation-delay: 0.5s;
  // transform: rotate(360deg);
  // transition: transform 0.7s linear;
}

span:nth-child(1) {
  transform: rotate(200deg);
  // transition: transform 0.7s linear;
}

span:nth-child(2) {
  transform: rotate(220deg);
  // transition: transform 0.7s linear;
}

span:nth-child(3) {
  transform: rotate(240deg);
  // transition: transform 0.7s linear;
}

span:nth-child(4) {
  transform: rotate(260deg);
  // transition: transform 0.7s linear;
}

span:nth-child(5) {
  transform: rotate(280deg);
  // transition: transform 0.7s linear;
}

span:nth-child(6) {
  transform: rotate(300deg);
  // transition: transform 0.7s linear;
}

span:nth-child(7) {
  transform: rotate(320deg);
  // transition: transform 0.7s linear;
}

span:nth-child(8) {
  transform: rotate(340deg);
  // transition: transform 0.7s linear;
}

span:nth-child(9) {
  transform: rotate(0deg);
  // transition: transform 0.7s linear;
}

span:nth-child(10) {
  transform: rotate(20deg);
  // transition: transform 0.7s linear;
}

span:nth-child(11) {
  transform: rotate(40deg);
  // transition: transform 0.7s linear;
}

span:nth-child(12) {
  transform: rotate(60deg);
  // transition: transform 0.7s linear;
}

span:nth-child(13) {
  transform: rotate(80deg);
  // transition: transform 0.7s linear;
}

span:nth-child(14) {
  transform: rotate(100deg);
  // transition: transform 0.7s linear;
}

span:nth-child(15) {
  transform: rotate(120deg);
  // transition: transform 0.7s linear;
}

span:nth-child(16) {
  transform: rotate(140deg);
  // transition: transform 0.7s linear;
}

span:nth-child(17) {
  transform: rotate(160deg);
  // transition: transform 0.7s linear;
}

span:nth-child(18) {
  transform: rotate(180deg);
  // transition: transform 0.7s linear;
}
